h1{
    color: red;
    text-align: center;
}
.subtitle{
    color: black;
    text-align: center;
}

body{

    background-color: whitesmoke;
}

.univer{

    color: blue;
}

p{
    color: red;
}

.project{

    color: red;
}